body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-wrapper{
  font-family:'Patrick Hand',cursive;
}

a.brand-logo{
  font-size:1.75rem;
  font-family:'Coiny',cursive;
  margin-left:10px;
  color:#1f2324;
}

#nav-mobile li a{
  font-size:1.5rem;
  color:#1f2324;
}

.page-footer{
  position:absolute;
  width:100vw;
  bottom:0;
}

/*RESPONSIVE*/
@media screen and (max-width:992px){
  a.brand-logo{
    font-size:auto;
    margin-left:10px;
    width:300px;
  }
}